<div class = "room-index-wrapper">
    <div class = container>
        <div class = "row">
            <div class = "col-md-offset-3 col-md-6">
                <h1 class = "text-center">メッセージ一覧</h1>
                <hr>
                <div class = "dm_list">
                    <% @anotherEntries.each do |e| %>
                        <%= link_to room_path(e.room.id) do %>
                        <h3 class = "dm-room-ids">
                            <strong>
                                <%= e.user.name %>
                            </strong>
                        </h3>
                        <% end %>
                        <h5 class = "dm-message">
                            <%= e.room.messages.order(created_at: :desc).take.try(:content).truncate(30)%>
                            <%= I18n.l(e.room.messages.last.created_at, format: :short) %>
                        </h5>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>