<div class = "room-index-wrapper">
    <div class = container>
        <div class = "row">
            <div class = "col-md-offset-3 col-md-6">
                <h1 class = "text-center">メッセージ一覧</h1>
                <hr>
                <div class = "dm_list">
                    <% @rooms.each do |room| %>
                        <div class = "dm_list_content">
                            <%= link_to room_path(room), class: "dm_list_content_link" do %>
                                <div class = "dm_list_content_link_box">
                                    <h3 class = "dm.list_content_link_box_name">
                                        <strong>
                                            <%= opponent_user(room) %>
                                        </strong>
                                    </h3>
                                <% end %>
                                <p class = "dm.list_content_link_box_message">
                                    <%= truncate_message(most_new_message_preview(room)) %>
                                </p>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>