<div class = "room-pay-wrapper">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-offset-3 col-md-6">
                <h3 class = "pay-complite-message">
                    支払いが完了しました
                </h3>
                <%= link_to 'メッセージ一覧へ', rooms_path %>
            </div>
        <div>
    </div>
</div>