html {
    // height: 100%;
}


body {
    haight: 100%;
    margin: 0;
    font-family: 'Shippori Mincho', serif;
}

h1, h2 {
    font-weight: 100;
}

.text-white {
    color: #fff;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.hr-color {
    border-color: #696969;
}

// navbar
.navbar-transparent {
    background-color: #c0c0c0;
    margin-top: -20px;
    
    .navbar-brand {
        font-size: 30px;
        color: #fff;
        font-family: 'Shippori Mincho', serif;
        padding: 10px;
        margin-top: 20px;
        &:hover {
            color: #d4d4d3;
            transition-duration: 0.3s;
        }
    }
    
    img {
        margin-top: 10px;
        margin-bottom: -10px;
        object-fit: contain;
        height: 40px;
        width: 50px;
        
        &:hover {
            opacity: 0.7;
            transition-duration: 0.3s;
        }
    }
    
    .nav-text {
        margin-top: 20px;
        color: #fff !important;
        
        &:hover {
            opacity: 0.7;
            transition-duration: 0.3s;
        }
    }
}

.nav-mail {
    margin-left: -5px;
}

.nav-r-circle {
    margin-left: 20px;
    margin-top: -40px;
    font-size: 10px;
    color: #ffd700;
    position: relative;
}


// topページ
.top-button-white {
    width: 40%;
    color: #fff;
    border: 1px  solid #fff;
    padding-top: 0px;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 28px;
    background-color: rgba(0,0,0,0.0);
    
    &:hover {
        color: #a9a9a9;
    }
}

.btn-black {
    width: 100%;
    color: #333333;
    border: 1px  solid #333;
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);
    
    &:hover {
        color: #d4d4d3;
    }
}

.flash-position {
    padding-top: 50px;
}

.top-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    // background-color: #ededec;
    font-family: 'Shippori Mincho', serif;
    background-image: image-url('background/4867736_m');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    // background-image: image-url('bg.png');
    // background-position: center;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    // background-size: contain;
    backdrop-filter: blur();
}

.top-wrapper::before {
    content: '';
    background: inherit;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: fixed;
    top: -30px;
    left: -10px;
    right: -10px;
    bottom: -30px;
    z-index: -1;
}


.top-container {
    padding-top: 150px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
    
    h2 {
        margin-bottom: 20px;
    }
}

.form-control {
    height: 40px;
}

.top-button-position {
    display: flex;
    justify-content: space-around;
}



//users.new
.user-new-wrapper {
    width: 100vw;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 50px;
    
    .form-group {
        margin-bottom: 20px;
    }
}

.profile-image-field {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    text-align: center;
}

.profile-image{
    object-fit: contain;
    width: 100%;
    height: 300px;
}

.user-submit-button {
    margin-bottom: 15px;
}

.select-form {
    height: 40px;
}

.text-small {
    font-size: 12px;
}

// user.show
.user-show-wrapper {
    width: 100vw;
    height: 100%;
    // height: auto;
    // background-color: #fdfdfd;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 50px;
}


.user-show-profile-box {
    display: flex;
    background-color: #fdfdfd;
    border: thin dotted gray;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.user-show-profile-image-box {
    display: inline-box;
    width: 200px;
    height: auto;
}

.user-show-profile-image {
    object-fit: contain;
    width: 200px;
    height: 200px;
    text-align: center;
}

.user-show-profile-sentence-box {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.user-show-profile-footer {
    text-align: right;
    margin-right: 50px;
}

//user.edit
.user-edit-wrapper {
    width: 100vw;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 50px;
}

.update-button {
    margin-bottom: 15px;
}

.edit-password-btn {
    margin-top: 10px;
    margin-bottom: 5px;
}

.edit-card-btn {
    margin-bottom: 5px;
}

// admin.users.index
.admin-users-index-wrapper {
    width: 100vw;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 50px;
}

// session.new
.session-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 50px;
    
    .form-group {
        margin-bottom: 20px;
    }
}

.session-toppage-btn {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
}

//password_reset.new
.password-reset-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.password-reset-new-form {
    width: 70%;
    display: inline-block;
    text-align: left;
}

.password-reset-new-form-text {
    margin-bottom: 0px;
}

.password-reset-new-form-part {
    display: flex;
}

.password-reset-new-email-form {
    margin-left: 0px;
    width: 100%;
}

.password-reset-new-form-btn {
    margin-top: 15px;
    margin-left: auto;
    margin-right: 0px;
}

//password_reset.edit
.password-reset-edit-warapper {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.password-reset-edit-form {
    display: inline-block;
    text-align: left;
}

.password-reset-edit-form-part {
    display: flex;
}

.password-reset-edit-form-text {
    margin-bottom: 0px;
    margin-right: 20px;
}

.password-reset-edit-email-text {
    margin-left: auto;
    margin-right: 0px;
}

.password-reset-edit-form-new {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: 0px;
}

.password-reset-edit-form-confirm {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: 0px;
}

.password-reset-edit-form-btn {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0px;
}

//work.new
.work-new-wrapper {
    width: 100vw;
    height: 100%;
    background-color: #f5f5f5;
    // background-color: #fdfdfd;
    padding-top: 100px;
    padding-bottom: 50px;
}

.work-submit-button {
    margin-bottom: 15px;
}

//work.index
.work-index-wrapper {
    width: 100vw;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #f5f5f5;
}

.work-index-three {
    background-color: #fdfdfd;
    padding: 5px;
    margin-bottom: 40px;
    border: thin dotted gray;
     &:hover {
            opacity: 0.7;
            transition-duration: 0.3s;
        }
}

.work-image {
    img {
        object-fit: contain;
        width: 100%;
        height: 180px;
    }
}

.work-show-wrapper {
    width: 100vw;
    height: 100%;
    background-color: #f5f5f5;
    padding-bottom: 50px;
}

.work-show-box {
    margin-top: 110px;
    
    img {
        object-fit: contain;
        width: 100%;
        height: 500px;
    }
    
    .work-show-title {
        text-align: center;
        font-weight: bold;
    }
    .work-show-type {
        margin-right: 10px;
    }
}

//type_list
.list {
    margin-top: 20px;
    margin-bottom: 20px;
}

//room.index
.room-index-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 50px;
}

.room-link {
    display: inline-block;
}

.dm-list-content {
    text-indent: 1em;
    margin-top: 0px;
}

.dm-list-time {
    margin-left: 20px;
}

.r-circle {
    margin-top: -4px;
    display: inline-block;
    color: #ffd700;
}
.r-circle-text {
    margin-top: -4px;
}

.room-index-footer {
    margin-top: 50px;
}

// room.show
.room-show-wrapper {
    width: 100vw;
    height: 100%;
    background-color: #f5f5f5;
    padding-top: 80px;
    padding-bottom: 50px;
}

.message-right {
    // background-color: #66ccff;
    background-color: #ccff99;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    margin-left: 50px;
    padding: 7px;
}

.message-image-resize-right {
    // background-color: #66ccff;
    background-color: #ccff99;
    border-radius: 5px;
    display: inline-block;
    padding: 7px;
    object-fit: contain;
    width: auto;
    max-width: 500px;
    height: 200px;
}

.message-left-box {
    display: flex;
    align-items: flex-start;
    margin-right: 50px;
}

.message-left-profile-image-box {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    img {
        object-fit: contain;
        width: 35px;
        height: 100%;
    }
}

.message-left {
    background-color: #fdfdfd;
    border: thin dotted gray;
    border-radius: 5px;
    display: inline-block;
    padding: 7px;
}

.message-image-resize-left {
    background-color: #fdfdfd;
    border: thin dotted gray;
    border-radius: 5px;
    display: inline-block;
    padding: 7px;
    object-fit: contain;
    width: auto;
    max-width: 500px;
    height: 200px;
}

.message-time {
    margin-top: -5px;
    margin-bottom: 20px;
    margin-left: 45px;
}

.image-select {
    margin-top: 10px;
}

.message-btn {
    display: block;
    margin-top: -30px;
    margin-left: auto;
}

// room.showの金額入力
.amount-btn {
    color: #dd0000;
    // background-color: #dd0000;
    font-weight: bold;
    margin-top: 40px;
    padding: 10px;
    border: solid #dd0000;
    border-radius: 5px;
    &:hover {
        opacity: 0.8;
        transition-duration: 0.3s;
    }
}

.amount-text {
    display: inline;
    font-weight: bold;
}

.to-buy-btn {
    color: #dd0000;
    // background-color: #dd0000;
    font-weight: bold;
    padding: 5px;
    border: solid #dd0000;
    border-radius: 5px;
    &:hover {
        opacity: 0.8;
        transition-duration: 0.3s;
    }
}

#poopup-parent {
    position: relative;
}

#popup {
    position: absolute;
    display: none;
    
}

// room.buy
.room-buy-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 120px;
    padding-bottom: 50px;
}

.buy-box {
    display: block;
    background-color: #fdfdfd;
    padding: 20px;
}

.buy-details {
    padding-right: 50px;
    padding-left: 50px;
}

.author-contents {
    display: flex;
}

.author-details {
    margin-left: auto;
}

.price-contents {
    display: flex;
    margin-top: 0px;
}

.price-details {
    margin-left: auto;
}

#payjp_checkout_box input[type=button] {
    width: 100%;
    height: 45px;
    font-size: 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

// room.pay
.room-pay-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 130px;
    padding-bottom: 50px;
}

.pay-contents {
    display: block;
    background-color: #fdfdfd;
    padding: 20px;
    text-align: center;
}

.pay-content-message-btn {
    margin-top: 30px;
    margin-bottom: 20px;
}

// card.new
.card-image {
    margin-bottom: 20px;
    img {
        width: 15%;
        height: 15%;
    }
}

.card-new-wrapper {
    margin-top: 100px;
}

.card-new-number-tag {
    margin-top: 40px;
    margin-bottom: 8px;
}

.card-new-number-form {
    margin-bottom: 10px;
    border: solid 1px #d3d3d3;
}

.card-new-exp-tag {
    margin-bottom: 8px;
}

.card-new-cvc-tag {
    margin-bottom: 8px;
}

.card-new-exp-form {
    margin-bottom: 20px;
    border: solid 1px #d3d3d3;
}

.card-new-cvc-form {
    margin-bottom: 20px;
    border: solid 1px #d3d3d3;
}

// card.show
.card-show-wrapper{
    margin-top: 100px;
}

.card-show-noncard-tag {
    text-align: center;
    margin-top: 65px;
}